.main{
    
    position: relative;
    display: block;
    height: auto;
}
.outerDiv{
    margin-left: 80px;
    margin-right: 80px;
    font-family: Roboto;
    height: auto;
}

.header-top{
   
    height: 130px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.header-row{
    margin-top: auto;
    margin-bottom: auto; 
   
}
.title{
   
    font-size: 48px;
    text-align: center;
    float: right;
    color: #231f20;
  
    
}
.logo{
    float: left;
    margin-top: auto;
    margin-bottom: auto; 
    
    
   
}
.nav-bar-top{
    position: relative;
    // margin-top: 130px;
    height: 50px;
    background-color: white;
   
    

}
.outer-nav{
    width: 100%;
    top: 20px;
    position: relative;

}
.nav-bar-left{
    position: absolute;
    height: 50px;
    width: 80%;
    background-color: white;
    font-size: 14px;
    color: #2c3e50;
    
    font-family: Roboto;
    float: left;
}

.nav-bar-right{
    
    height: 50px;
    background-color: white;
    font-size: 14px;
    color: #2c3e50;
   
    font-family: Roboto;
    margin-left: calc(80% + 40px);
}
.outer-div{
    top: 70px;
    position: relative;
}
.funnel-col{
    left: 30%;
}
.funnel-box{
    position: absolute;
    width: 80%;
    /* float: left; */
    background-image: url(/assets/images/funnel.png);
    background-repeat: no-repeat;
    background-position: left top;
    z-index: 60;
    /* width: 100%; */
    height: 700px;
    background-size: inherit;
    
}
.funnel{
    width: 75%;
    float: left;
    color: #fff;
    /* position: absolute; */
    display: inline-block;
}
.f1{
    top: 0;    
    margin-top: 0%;
    position: absolute;
    text-align: center;
    float: center;
    width: 45%;
}
.f2{
    top: 0;    
    margin-top: 7%;
    position: absolute;
    text-align: center;
    float: center;
    width: 45%;
}
.f3{
    top: 0;    
    margin-top: 14%;
    position: absolute;
    text-align: center;
    float: center;
    width: 45%;
}
.f4{
    top: 0;    
    margin-top: 22%;
    position: absolute;
    text-align: center;
    float: center;
    width: 45%;
}
.f5{
    top: 0;    
    margin-top: 29%;
    position: absolute;
    text-align: center;
    float: center;
    width: 45%;
}
.f6{
    top: 0;    
    margin-top: 37%;
    position: absolute;
    text-align: center;
    float: center;
    width: 45%;
}
.f-Won{
    font-size: 48px;
    font-weight: bold;
    font-family: Roboto;
    color: #fff;
}
.f-heading{
    font-size: 18px;
    font-family: Roboto;
    font-weight: regular;
    color: #fff;
    margin-top: 15px;
}
.f-value{
    font-size: 48px;
    font-family: Roboto;
    font-weight: bold;
    color: #fff;
    margin-top: 5px;
}
.card-col{
    position: absolute;
    left: 80%;
} 
.card-box{
    width: 100%;
    height: 230px;
    float: right;
    background-color: white;
    margin-bottom: 40px;
    position: relative;
  
}
.card-box-right{
    width: 100%;
    height: 220px;
    float: right;   
    margin-bottom: 40px;
    background-image: url(/assets/images/winner.png);
    background-repeat:no-repeat;
    background-position: center bottom;
    background-size: 140px;
}
.card-right{
   float: right;   
    margin-left: calc(80% + 40px);
}
.table-div{
    margin-top: 75px;
   
    width: 100%;
    display: inline-block;
    height: auto;
    background-color: white;
}
.table-header{
    font-size: 24px;
    font-weight: normal;
    color: #231f20;
    font-family: Roboto;
    height: 50px;
    margin-top: 10px;
   padding: 20px;
   margin-left: 10px;
    
}
.grid-view{
    width: 100%;
    position: relative;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-weight: medium;
    height: auto;
    border-color: #e4e4ec;
    padding: 20px;
    // margin-left: 10px;
  }
  
  th, td {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: regular;
    font-family: Roboto;
  }
  
  tr:nth-child(even) {background-color: #f8f9fb;}

  .nav-row{
      display: flex;
      flex-direction: column;
  }
  .nav-items{
      margin-top: auto;
      margin-bottom: auto;
      position: absolute;
  }
 
  .nav {
    
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
   
    font-family: Roboto;
    font-weight: normal;
    display: flex;
   
  }
  .nav-right{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;   
    font-family: Roboto;
    font-weight: normal;
    display: flex;
  }
  .nav-right li {
    display: inline-block;
    font-size: 14x;
    /* padding-left: 33px; */
     padding-top: 20px; 
     color: #2196f3;
    opacity: 0.5;
    width: 110px;
    height: 30px;
    text-align: center;
  }
  .nav li {
    display: inline-block;
    font-size: 14x;
    /* padding-left: 33px; */
     padding-top: 20px; 
     color: #2196f3;
    opacity: 0.5;
    width: 150px;
    height: 30px;
  }
  a{
    text-decoration-color: None;
    color: #2c3e50;
    cursor: pointer;
  }
 
  .active{
    color: #2196f3;

  }
  .active-li{
    color: #2196f3;
    border-bottom-color: #2196f3;
    border-bottom: 2px solid;
  }
  .img-call{
    
    float: left;   
    margin-left: 30px;
    margin-top: 30px;
    background-repeat:no-repeat;
    background-position: left top;
    
  }
  .card-details{
      float: right;

  }
  .heading{
    position: absolute; 
    right: 30px;
    bottom: 100px;
    font-size: 18px;
    width: 50%;
    color: #2c3e50;
    font-weight: medium;
    opacity: 0.5;
    text-align: right;
  }

.card-val{
    position: absolute; 
    right: 30px;
    bottom: 30px;
    font-size: 48px;
    // padding: 20px;   
    color: #2196f3;
    font-weight: bold;
}.table {display:block; margin: 30px;}
.row { display:block; width: 100% }
.cell {display:inline-block; margin-top: auto; margin-bottom: auto;}
.name-div{
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: regular;
    color: #fff;
}
.cell-heading{
   
    text-align: left;
    font-size: 18px;   
    color: #fff;
    display:inline-block;
    width: 50%;
}
.cell-val{
   
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    display:inline-block;
    
    width: 50%;
}
.table-heading{
    font-family: Roboto;
    font-size: 12px;
    font-weight: medium;
    color: #231f20;
}
.drop{
    font-family: Roboto;
    font-size: 14px;
    font-weight: medium;
    color: #2c3e50;
    opacity: 0.5;
    width: 150px;
    border-width: 0px;
    border-style: none;
    background-color: white;
    height: 50px;
    margin-left: 20px; 
    text-align: center;
}
